# Python Version 3.12.3
# Cuda Version 12.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
keras==3.3.3
mediapy==1.2.0
numpy==1.26.4
pillow==10.3.0
pyboy==2.0.3
PySDL2==0.9.16
pysdl2-dll==2.30.2
stable_baselines3==2.3.2
tensor==0.3.6
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
torchvision==0.18.0
websockets==12.0
wheel==0.43.0
torch==2.2.0+cu121